* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  border: 2px solid #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

/*---NAVIGATION STYLES---*/
nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: #0000003f;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  z-index: 100;
}
.mobile-section {
  width: 100%;

  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.menu-links {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  width: 100%;
  font-size: 1.5rem;
  gap: 10px;
  list-style-type: none;
}

.menu-links a {
  color: #fff;
  text-decoration: none;
  padding: 10px 0;
}

.sub-menu {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  color: #ffffffb4;
  font-size: 20px;
  /* display: none; */
}

@media (min-width: 1200px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px;
  }
  .ham-ico {
    display: none;
  }

  .mobile-section {
    width: auto;
  }

  .menu-links {
    flex-direction: row;
    background-color: transparent;
    font-size: medium;
    width: auto;
  }

  .menu-links a {
    padding: 5px 10px;
    border: white 1px solid;
    border-radius: 30px;
  }
}

.logo {
  width: 90px;
}

.ham-ico {
  width: 30px;
  fill: #fff;
}

.mobile-menu-ham {
  /* make checkbox and menu to overlap */
  position: relative;
  display: flex;
}

#ham-checkbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  opacity: 0;
}

footer {
  width: 100%;
  background-color: #00000036;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
